# IDE et Système
.DS_Store
.idea/
**/.DS_Store

# Données et Poids (très important)
**/data_files/
**/face_dataset/
**/weights/
*.npy
*.jpg
*.png

# Dossiers spécifiques que tu as cités
config/
lib/
notebooks/weights/

# Tes règles précédentes
*/created_dataset/
checkpoints/
model/
*.keras
**/__pycache__/
*.pyc